body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFF;
    margin: 0;
    }
.logo-header {
    border-bottom: 1px solid #e7e9fc;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: #2e2f42;
}

h1 h2 h3 h4 h5 h6 p {
    margin: 0;
}
ul{
    padding-left: 0;
    margin: 0;
    list-style: none;
}
img {
    display: block;
}

li {
    padding-left: 0;
    margin: 0;
}
.container {
    max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
}

.nav-logo {
    display: flex;
    align-items: center;
    margin: 0px 329px 0px 0px ;
}

.web-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.studio-logo {
    color: #2e2f42;
}

.ul-logo {
    display: flex;
    gap: 40px;
}

.logo-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
}

.address-logo {
    font-style: normal;
}

.ul-list {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        display: flex;
        gap: 40px;
        padding: 24px 0;
}
.fotoli {
    background-color: #FFFFFF;
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.logo-list:hover,
.logo-list:focus {
    color: #404bbf;
}

.address-list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-list:hover,
.address-list:focus {
    color: #404bbf;
}

.section-one {
        background-color: #2e2f42;
            line-height: 1.5;
            letter-spacing: 0.02em;
            padding: 188px 0;
            margin-left: auto;
            margin-right: auto;
}
.effective-one {
    font-size: 56px;
        font-weight: 700;
        color: #ffffff;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        max-width: 496px;
        margin: 0 auto;
        margin-bottom: 48px;
}
.button-one {
    font-family: "Roboto", sans-serif;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
        background-color: #4d5ae5;
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
        margin-left: auto;
        margin-right: auto;
}

.button-one:hover,
.button-one:focus {
    background-color: #404BBF;
}
.ul-gogo {
         display: flex;
            flex-wrap: wrap;
            column-gap: 24px;
            row-gap: 48px;
}
.li-four {
    width: calc((100% - 48px) / 3);
}
.hello-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.text-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-two {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.text-too {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.teamlist {
    display: flex;
    gap: 24px;

}
.lilili {
    width: calc((100% - 3 * 24px) / 4)
}
.text-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.class-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.portfolio-text {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.text-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px
}

.text-app {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer-logo {
    background-color: #2e2f42;
    padding: 100px 0;
}

.web-footer {
    font-family: "Raleway", sans-serif; 
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}
.studio-footer {
    color: #f4f4fd;
}

.text-footer {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
    margin-bottom: 8px;
}
.section-dva {
    padding: 120px 0 120px;
}
.ul-section-dva {
    text-align: left;
        display: flex;
        gap: 24px;
    }


.visually-hidden {
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.02em;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.textname {
    padding: 32px 0 32px;
}

.section-last {
    padding-top: 120px;
    padding-bottom: 120px;
}

.list-sectionfor {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.div-math {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}
.header-container{
    display: flex;
}